<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forgerock_oauth_client_id</key>
	<string>nativeclient</string>
	<key>forgerock_oauth_redirect_uri</key>
	<string>frauth://com.example.tutorial</string>
	<key>forgerock_oauth_scope</key>
	<string>openid profile</string>
	<key>forgerock_oauth_threshold</key>
	<string>60</string>
	<key>forgerock_url</key>
	<string>https://openam-fr300-unigeza.forgeblocks.com/am</string>
	<key>forgerock_cookie_name</key>
	<string>af6e3c362736235</string>
	<key>forgerock_realm</key>
	<string>alpha</string>
	<key>forgerock_timeout</key>
	<string>60</string>
	<key>forgerock_auth_service_name</key>
	<string>fr541</string>
	<key>forgerock_registration_service_name</key>
	<string>Registration</string>
</dict>
</plist>
